
# Created by https://www.gitignore.io/api/venv,virtualenv
# Edit at https://www.gitignore.io/?templates=venv,virtualenv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/

# End of https://www.gitignore.io/api/venv,virtualenv